:root{
  // Background
  --background-main: #fefefe;
  --background-second: #f0f0f0;
  --background-third: #aaa;

  // Accent
  --accent: #147;

  // font
  --font-color: #333;

  // GUI details
  --lines: #777;

}
